{% if posts %}
  {% for post in posts %}
    {% if user %}
      {% if post.parent().key() == user.key() %}
        <h4><a href="/posts/edit/{{ post.key() }}">Edit</a></h4>
        <h4><a href="/posts/delete/{{ post.key() }}">Delete</a></h4>
      {% endif %}
    {% endif %}
    <a href="/posts/view/{{ post.key() }}" alt="Link to article {{post.title}}">{{ post.title }}</a>
    <br>
    {{ post.content }}
    <br>
    Created by {{ post.parent().username }} on {{ post.creation_date }}
    <hr>
  {% endfor %}
{% endif %}
