<div class="row posts">
  {% if posts %}
    {% for post in posts %}
    <!-- START Post -->
      <div class="col-xs-12 col-sm-6 post">
        <div class="post-summarize">
          {% if user and post.parent().key() == user.key() %}
            <!-- START Admin Post -->
            <div class="post-actions">
              <div id="alert-{{post.key()}}" class="alert alert-danger alert-dismissible fade in" role="alert" style="display: none;">
                <p class="h4">Are you sure you want to delete this post?</p>
                <p>It won't be possible to get it back</p>
                <p class="text-right"> <a href="/posts/delete/{{post.key()}}" class="btn btn-danger">Yes, delete</a>
                   <button type="button" class="btn btn-default" onclick="$('#alert-{{post.key()}}').hide()">Cancel</button>
                </p>
              </div>
            </div>
            <!-- END Admin Post -->
          {% endif %}

          <p class="small pull-right">
            <i class="fa fa-calendar-o"></i>  {{ post.creation_date.strftime('%d-%m-%Y') }}
          </p>

          <h3 class="headline"><a href="/posts/view/{{ post.key() }}">{{ post.title }}</a></h3>

          <p>
            {{ post.content|truncate(250, False, '...')|nl2br }}
          </p>
          <p class="text-right">
            <a href="/posts/view/{{ post.key() }}" alt="Link to article {{post.title}}">Read more</a>
          </p>

          <p class="small">
            <i class="fa fa-heart-o"></i> {{ nb_likes[post.key()] }} like{{'s' if nb_likes[post.key()] > 1 }} ·
            <i class="fa fa-comments-o"></i> {{ nb_comments[post.key()] }} comment{{'s' if nb_comments[post.key()] > 1 }}
          </p>
          <p class="text-right small">
            <i class="fa fa-user-circle"></i> <a href="/posts/user/{{post.parent().key()}}">{{ post.parent().username }}</a>
          </p>

          {% if user and post.parent().key() == user.key() %}
          <!-- START Admin Post -->
            <div class="post-actions">
              <p class="text-center">
                <a href="/posts/edit/{{post.key()}}"><i class="fa fa-pencil-square" title="Edit"></i> Edit</a>
                 ·
                <a onclick="$('#alert-{{post.key()}}').show()"><i class="fa fa-times-rectangle" title="Delete"></i> Delete</a>
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- END Post -->
    {% endfor %}
  {% else %}
  <!-- NO POST -->
    <div class="col-xs-12 text-center">
      <p class="h1">There is no post!</p>
      <p>Why don't you <a href="/posts/add">write one</a> ?</p>
    </div>
  {% endif %}
</div>

{% if posts %}
  {% include "commons/pagination.html" %}
{% endif %}
