<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UBlog | {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700%7CRoboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    <div class="top-page {{ has_error }}">
      {% include "commons/navbar.html" %}

      <div class="jumbotron">
        <div class="container">
          {% block jumbotron %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
