{% set page="login"%}
{% extends "base.html" %}

{% block title %}
  Log in
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 class="headline">Log in</h1>
      <p>Just one more step before to post!</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <p>Use your credentials to connect to your account</p>

      {% include("commons/form.html") %}

    </div>
  </div>
{% endblock %}
