{% extends "base.html" %}

{% block title %}
  Sign up
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 class="headline">Sign up</h1>
      <p>Just one more step before to post!</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <p>Please fill-in this form to create your account.</p>

      {% include("commons/form.html") %}

    </div>
  </div>
{% endblock %}
