.row {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  border-width: 0 0 3px;

  &:hover,
  &:active:focus,
  &:focus,
  &.focus {
    background-color: $blue-darker;
    border-color: $blue-darker;
  }
}

.fa-20x {
  font-size: 20em;
}

.headline {
  font-family: 'Roboto Slab', serif;
}

// TOP PAGE = NAVBAR + JUMBOTRON
.top-page {
  background-image: url('../img/bg_blue_black.png');

  &.has-error {
    background-image: none;
    background-color: $red;

    & .btn-primary {
      background-color: $red-dark;
      border-color: $red-darker;

      &:hover,
      &:focus,
      &.focus {
          background-color: $red-darker;
      }
    }
  }

  .navbar {
    &.navbar-default,
    .btn {
       font-size: $font-size-large;
    }

    .navbar-brand {
       font-size: $font-size-h1;
    }

    .navbar-btn {
      margin-left: 15px;
    }
  }

  .jumbotron {
    hr {
      width: 35%;
      border-color: $gray-darker;
    }
  }
}

// LIST POSTS
.posts {
  .post {
    border-top: 1px dotted $gray-light2;
    padding: 15px;

    &:nth-child(1), &:nth-child(2) {
      border-top: 0;
    }

    &:nth-child(even) {
      border-left: 1px dotted $gray-light2;
    }

    .post-content {
      background-color: $gray-white;
      border-bottom: 1px solid $gray-light2;

      padding: 15px;

      .small {
        color: $gray-light;
        margin: 0;
      }
    }
  }
}
