{% extends "base.html" %}

{% block title %}
  {{ post.title }}
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-xs-12">
      <h1 class="headline">{{ post.title }}</h1>
      <hr>
      <p class="small"><i class="fa fa-calendar-o"></i> {{ post.creation_date.strftime("%A %d %B %Y") }}</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "commons/posts/view.html" %}
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      {% include "commons/comments/list.html" %}

      {% if user %}
        <h2 id="newcomment">Add a comment</h2>
        <div class="form-comment">
          <p class="comment-author">
            <i class="fa fa-user-circle fa-lg"></i> {{ user.username }}
          </p>
            {% include "commons/form.html" %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
