{% extends "base.html" %}

{% block title %}
  {{ post.title }}
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 class="headline">{{ post.title }}</h1>
      <hr>
      <p class="post-details headline"><i class="fa fa-calendar-o"></i> {{ post.creation_date.strftime("%A %d %B %Y") }}</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "commons/posts/view.html" %}
  {% include "commons/form.html" %}
  {% include "commons/comments/list.html" %}
{% endblock %}
