{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Blog</a>
      </div>


      <a href="/register" class="btn btn-primary navbar-btn pull-right">Sign up</a>
      <ul class="nav navbar-nav navbar-right">
        {### USER MENU ###}
        {% if user %}
          <li><a href="/posts">Posts</a></li>
          <li><a href="/posts/add">New post</a></li>
          <li><a href="/posts">{{ user.username }}</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
        {### VISITOR MENU ###}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
