{% if errors %}
  {% for key, value in errors.items() %}
      {{ value }}
  {% endfor %}
{% endif %}
<form method="post">
  {{ form.title.label }}
  {{ form.title() }}
  {% if form.title.errors %}
    {% for error in form.title.errors %}
      {{ error }}
    {% endfor %}
  {% endif %}
  <br>
  {{ form.content.label }}
  {{ form.content() }}
  {% if form.content.errors %}
    {% for error in form.content.errors %}
      {{ error }}
    {% endfor %}
  {% endif %}
  <br>
  <button type="submit">Submit</button>
</form>
