{% set has_error = "has-error" %}
{% extends "base.html" %}

{% block title %}
  Error
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h2 class="h1 headline">Oops! An error occured</h2>
      <p>
        {% if errors %}
          {% for error in errors %}
              {{ error }}
          {% endfor %}
          {% if debug %}
            {{ exception }}
          {% endif %}
        {% elif debug %}
          {{ exception }}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <i class="fa fa-thumbs-down fa-20x" aria-hidden="true"></i>
{% endblock %}
