{% set has_error = "has-error" %}
{% extends "base.html" %}

{% block title %}
  Error {{ exception.code if exception }}
{% endblock%}

{% block jumbotron %}
  <div class="row text-center">
    <div class="col-sm-12">
      <h1 class="headline">Oops! An error occured</h1>
      <p>
        {% if debug %}
          {{ exception }}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <p class="text-center">
    <i class="fa fa-times fa-20x" aria-hidden="true"></i>
  </p>
{% endblock %}
